body{
    background-color: black;
    color: orange;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20% auto 20%;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    
}
header{
    grid-area: header;

}

main{
    grid-area: main;

}

aside{
    grid-area: aside;

}

footer{
    grid-area: footer;

}

img{
    width:90%

}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

}
    
h2{
    text-align: center;
    color: aqua;      

}
    
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   

}
    
.program{
    text-align: right;

}
    
.mit{
    border: 1px solid white;

}
    
.tek{
    background-color: slateblue;
    text-align: center;
    color: aqua;

}

a{
    text-decoration: none;

}
    
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;

}

.tabss{
    width: 600px;
    height: 450px;

}

.tabzz{
    width: 600px;

}

.right{
    text-align: right;

}

.left{
    text-align: left;
    
}

.mid{
    text-align: center;

}

.redd {
    background-color: darkred;

}

.green{
    background-color: green;

}

.grey{
    background-color: dimgray;

}

.rod{
    background-color: red;
    border-left: 0px;
    border-right: 0px;

}

.blo{
    background-color: cornflowerblue;
    border-bottom: 0px;
    border-top: 0px;

}

.yello{
    background-color: yellow;  

}

.blac{
    background-color: black;
    border-top: 0px;
    border-bottom: 0px; 

}

.gree{
    background-color: rgb(47, 255, 57);
    border-right: 0px;
    border-left: 0px;

}
